/* Add your CSS styles here for consistent design */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #343a40; /* Dark gray background */
  color: white;
  text-align: center;
  padding: 15px;
}

.container {
  margin-top: 20px;
}

.text-box {
  text-align: right;
}

.btn-item {
  width: 75px;
  height: 75px;
  font-size: 24px;
  margin: 5px;
}

.btn-item:hover {
  background-color: #007bff;
  color: white;
}

.eql-btn {
  background-color: #28a745; /* Green background for the equal button */
  color: white;
}

.eql-btn:hover {
  background-color: #1e7e34; /* Darker green on hover */
}

.ftter {
  text-align: center;
  color: #343a40;
  margin-top: 20px;
  padding: 10px;
}

#label {
  background-color: #fff;
  border: 1px solid #ced4da;
  height: 75px;
  font-size: 50px;
  font-weight: 500;
}
.ftter {
  color: white;
  font-size: large;
}

/* Responsive styles for smaller screens */
@media (max-width: 576px) {
  .btn-item {
    width: 50px;
    height: 50px;
    font-size: 18px;
  }

  .header {
    font-size: 20px;
  }

  .ftter {
    font-size: 16px;
  }
}
